*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    background: url("wave-haikei.png") no-repeat;
    background-size: cover;
}

.box{
    width: 25%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0.1rem 0.1rem 0.2rem #89c9f3, -0.1rem -0.1rem 0.2rem;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 0.8rem 2.1rem;
}

.signup-header h1{
    font: 2.2rem;
    text-align: center;
    padding: 5px 8px;
}

.signup-body p{
    margin-top: 1rem;
}

.signup-body p span{
    font-size: 17px;
    font-weight: 550;
    color: #ee1010;
    margin-left: 0.3rem;
}
.signup-body p label{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 5px;
    font-size: 15px;
    margin-block: none;
    outline: none;
    color: black;
}

.signup-body p input[type='submit']{
    border: none;
    background-color: #22b9f5;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.signup-body p input[type='submit']:hover{
    background-color: #2f4ee7;
}

.signup-footer p{
    text-align: center;
    font-weight: 550;
    margin-top: 20px;
}

.signup-footer p a{
    text-decoration: none;
}

.signup-footer p a:hover{
    text-decoration: underline;
}